@import '../../styles/base.scss';

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8vw;
    background-color: $secondary-color;
    color: $primary-color;
    border-bottom: 1.5px solid $primary-color;

    .menu {
        height: 20px;
        object-fit: contain;
    }
    .logo {
        height: 24px;
        object-fit: contain;
    }
}